*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh
}
#horloge, #wrapper{
display: flex;
height: 100px;
justify-content: center;
align-items: center;
}
#wrapper{
 height: 100%;   
}
#horloge{
  border: 3px dashed red;
  width: 500px;
  font-size: 60px;
  border-radius: 15px 0;
  
}